{% extends "base.html" %}
{% block content %}

<head>
   <title>About me</title>
</head>

  <body>
  <img src="static/media/msu.jpg" class="picleft">
  <img src="static/media/sparty.jpg" class="picright">

  <h1>About my experience<h1>
  <p>Hello, my name is Matt Knedgen II. The last name is pronounced 'Ka-Ned-Jin'. I was
    born and raised in Michigan and graduated from Michigan State University in 2015 with my Bachelors degree in Economics.
    After college I spent several years in the finance industry. The first few years were with a financial wholesale money manager,
    then I spent some time with a mortgage wholesaler. Since the end of 2020 I've been working on transitioning my career from
    finance over to programming.
    <p>

  <p>Since transitioning, I've been learning a plethora of information on Udemy <a href="{{url_for('core.udemy')}}">(see completed courses here)</a>. My primary focus has been learning Python. As my first
    programming language, I've found it to be very intuitive to learn. What I enjoy most about it is what seems to be endless possibilities
    with what it can do because of all the libraries it offers. My Python skills have gotten to the point where I am very comfortable
    learning a new library with ease. To make this site I used Flask, but also have another website that uses Django. I have also learned
    HTML, CSS, Bootstrap, and Javascript. </p>
<img src="static/media/wedding.jpg" class="picleft">
<img src="static/media/tessa.jpg" class="picright">

  <p>At this time I am looking to land my first position to start my programming career. Until then, I plan on continuing to work
  on new projects to build up my <a href="static/media/resume.pdf" target="_blank">resume</a> . If you would like to see my projects, you can check out my Github profile
  <a href="https://github.com/knedgen" target="_blank">here</a>.</p>
<br>
  <h1>About my personal life</h1>
  <p>I've been married to my beautiful wife, Savannah, since June of 2018. We are starting a family and are expecting our first
  in February of 2022. We will be having a daughter and her name is Tessa. We also have some pets that we consider part of the family.
  We have two dogs, Murray and Stormy, along with three cats Captain, Riven, and Sirius.</p>

<figure class="picleft">
  <img src="static/media/dogs.jpg" class="picleft">
  <figcaption class="figleft">Murray(left) and Stormy(right)</figcaption>
</figure>

<figure class="picright">
  <img src="static/media/cats.png" class="picright">
  <figcaption class="figright">Sirius(left), Riven(middle), and Captain(right)</figcaption>
</figure>
  <p>My hobbies and interests include video games, movies/tv, and sports. I've always been a huge gaming nerd ever since I can remember
  playing Super Mario World when I was just a few years old. For sports, my college team is Michigan State of course! For professional
  teams I'm a fan of all the Detroit teams, unfortunately that does include the Lions. </p>
<br><br><br><br><br><br>
</body>



{% endblock %}
