{% extends "base.html" %}
{% block content %}

<head>
   <title>Add</title>
</head>
<body>
  <br><br>
  <div class="container">
    <form class="form-group" method="POST">
      {{form.hidden_tag()}}

      <div class="form-group">
        {{form.title.label}}
        {{form.title}}<br><br>
      </div>
      <div class="form-group">
        {{form.description.label}}
        {{form.description}}
      </div>
      <div class="form-group">
        {{form.link.label}}
        {{form.link}}
      </div>
      <div class="form-group">
        {{form.submit()}}

      </div>

    </form>

  </div>

</body>


{% endblock %}
