{% extends "base.html"%}
{% block content %}

<h1 class="urlbox2">Udemy Courses Completed</h1>
<br><br>
<ol class="jumbotron">
  <p>2021 Complete Python Bootcamp From Zero to Hero in Python</p>
  <p>Python for Data Science and Machine Learning Bootcamp</p>
  <p>Python and Flask Bootcamp: Create Websites using Flask!</p>
  <p>Django 3 - Full Stack Websites with Python Web Development</p>
  <p>HTML5 and CSS3 Fundamentals</p>
  <p>Intro To SQLite Databases for Python Programming</p>
  <p>Javascript Essentials</p>
  <p>Code Your First Game: Arcade Classic in JavaScript on Canvas</p>
  <p>Git & GitHub Crash Course: Create a Repository From Scratch!</p>
</ol>

{% endblock %}
